body { background: #7ae751; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 55px; display: flex; }
.block-config-0 { color: #ad2b7b; font-size: 18px; margin-bottom: 5px; }
.block-notify-1 { color: #572601; font-size: 14px; margin-bottom: 5px; }
.block-cluster-2 { color: #95b215; font-size: 18px; margin-bottom: 5px; }
.block-notify-3 { color: #20fb7e; font-size: 15px; margin-bottom: 5px; }
.block-database-4 { color: #89206e; font-size: 19px; margin-bottom: 5px; }